<h1>Hello World!</h1>
<h2>Using Jupyter notebooks for data / coding communication</h2>
<p>Within Visual Studio Code you can embed HTML inbetween your code which allows you to communicate import information about your code for future users, or if you want to present to a client or another person about what you have done. Lets start with a simple code example and then we can talk about how we can make these pieces of text including things such as images and even links!</p>

In [1]:
import pandas as pd
import numpy

<p>Loading student scores to perform analysis. Data can be found at: <i>C:/fake_path/school_database</i></p>

In [2]:
student_scores = pd.read_csv("Scores.csv")
display(student_scores)

     Name  Year  English Score  Maths Score
0     Jim     1             75           55
1   Gregg     2             51           89
2  Sandra     1             88           92
3     Dan     1             42           56
4   Lydia     2             72           73
5     Jim     2             75           55
6     Dan     1             56           44
7   Lydia     2             72           73

<p>Duplicate names are the same student making two attempts. We are going to give them their <strong>average</strong> score.</p>
<p>We are going to do this using the groupby and mean functions in pandas.</p>

In [3]:
student_scores = student_scores.groupby("Name").mean()
student_scores.reset_index(inplace=True)

In [4]:
student_scores

     Name  Year  English Score  Maths Score
0     Dan   1.0           49.0         50.0
1   Gregg   2.0           51.0         89.0
2     Jim   1.5           75.0         55.0
3   Lydia   2.0           72.0         73.0
4  Sandra   1.0           88.0         92.0

<p>Now we will find out who is the best student to congratulate them.</p>

In [5]:
student_scores["Total_Score"] = student_scores["English Score"] + student_scores["Maths Score"]
best_student = student_scores[student_scores["Total_Score"] == student_scores["Total_Score"].max()]
best_score = best_student.Total_Score
best_student = best_student.Name
best_student

4    Sandra
Name: Name, dtype: object

<p>Unforunately you cannot embed variables into text so you have to print that the old fashioned way, which is still effective at displaying information.</p>

In [6]:
best_student = best_student[4]
best_score = best_score[4]
print(f"Congratulations {best_student}, you did so well and got an average score of {best_score}!")

Congratulations Sandra, you did so well and got an average score of 180.0!

<h1>Congratulations!</h1>
<img src="balloons.jpg" alt="A nice picture of balloons">
<p>Follow this <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">link</a> to get your prize!</p>