In [31]:
import pandas as pd
import os
os.chdir(f"C:\\Users\\UKHRM004\\Documents\\HCC Model Update\\For Github\\")

#### CREATE LOOKUP INCLUDING DIRECTIONS BEFORE REDOING THIS
final_id_lookup = pd.read_csv(f"C:\\Users\\UKHRM004\\Documents\\HCC Model Update\\For Github\\util\\Final_site_ID_lookup_with_directions.csv")
final_data = pd.read_csv(f"C:\\Users\\UKHRM004\\Documents\\HCC Model Update\For Github\\5 - Factored_data\\2 - Data Factored to 2023\\Fully_factored_march_2023_flows.csv")

### MAKE SURE EQUIVALENT FIELD GIVEN IN LOOKUP
final_data["FINAL Site ID - Direction"] = final_data["FINAL Site ID"].astype(str) + " - " + final_data["direction"]
display(final_id_lookup)

,FINAL Site ID,site,Source,direction,site - Source,Road,District,Town,Road Name,Road Type,FINAL Site ID - Direction
0,248,1,Severnside ATC,Northbound,1 - Severnside ATC,A505,NaN,NaN,Watling Street,A,248 - Northbound
1,248,1,Severnside ATC,Southbound,1 - Severnside ATC,A505,NaN,NaN,Watling Street,A,248 - Southbound
2,249,2,Severnside ATC,Eastbound,2 - Severnside ATC,A120,NaN,NaN,London Road,A,249 - Eastbound
3,249,2,Severnside ATC,Westbound,2 - Severnside ATC,A120,NaN,NaN,London Road,A,249 - Westbound
4,250,3,Severnside ATC,Northbound,3 - Severnside ATC,A120,NaN,NaN,London Road,A,250 - Northbound
...,...,...,...,...,...,...,...,...,...,...,...
1379,181,544,HCC ATC,East,544 - HCC ATC,A411,HERTSMERE,BOREHAMWOOD,Barnet Lane,A,181 - East
1380,183,547,HCC ATC,West,547 - HCC ATC,C85,HERTSMERE,BOREHAMWOOD,Furzehill Road,C,183 - West
1381,183,547,HCC ATC,East,547 - HCC ATC,C85,HERTSMERE,BOREHAMWOOD,Furzehill Road,C,183 - East
1382,228,710,HCC ATC,North,710 - HCC ATC,B5378,HERTSMERE,SHENLEY,Black Lion Hill,B,228 - North
1383,228,710,HCC ATC,South,710 - HCC ATC,B5378,HERTSMERE,SHENLEY,Black Lion Hill,B,228 - South

In [32]:
sites_not_included = final_id_lookup.loc[~final_id_lookup["FINAL Site ID - Direction"].isin(final_data["FINAL Site ID - Direction"])]
sites_included = final_id_lookup.loc[final_id_lookup["FINAL Site ID - Direction"].isin(final_data["FINAL Site ID - Direction"])]

In [33]:
sites_not_included.to_csv(f"sites_not_included.csv", index = False)

In [34]:
neutral_2019 = pd.read_csv(f"C:\\Users\\UKHRM004\\Documents\\HCC Model Update\\For Github\\4 - Filtered_DBs\\1 - Neutral_Day_DBs\\1b - Neutral_Day_DBs_Converted&Appended_to_Hourly\\ATC_2019_Combined.csv")
neutral_2022 = pd.read_csv(f"C:\\Users\\UKHRM004\\Documents\\HCC Model Update\\For Github\\4 - Filtered_DBs\\1 - Neutral_Day_DBs\\1b - Neutral_Day_DBs_Converted&Appended_to_Hourly\\ATC_2022_Combined.csv")
neutral_2023 = pd.read_csv(f"C:\\Users\\UKHRM004\\Documents\\HCC Model Update\\For Github\\4 - Filtered_DBs\\1 - Neutral_Day_DBs\\1b - Neutral_Day_DBs_Converted&Appended_to_Hourly\\ATC_2023_Combined.csv")

unfiltered_db = pd.concat([neutral_2019, neutral_2022, neutral_2023])

display(unfiltered_db)

,site,Source,direction,flow_car,flow_LGV,flow_OGV_1,flow_OGV_2,flow_HGV,flow_BUS,flow_total,date,flow_OGV1,flow_OGV2,flow_bicycle,flow_motorcycle
0,130,HCC ATC,North,55.0,4.0,5.0,3.0,8.0,1.0,68.0,2019-11-04 00:00:00,NaN,NaN,NaN,NaN
1,130,HCC ATC,North,31.0,3.0,1.0,12.0,13.0,0.0,47.0,2019-11-04 01:00:00,NaN,NaN,NaN,NaN
2,130,HCC ATC,North,27.0,1.0,0.0,8.0,8.0,0.0,36.0,2019-11-04 02:00:00,NaN,NaN,NaN,NaN
3,130,HCC ATC,North,19.0,6.0,4.0,9.0,13.0,0.0,38.0,2019-11-04 03:00:00,NaN,NaN,NaN,NaN
4,130,HCC ATC,North,33.0,1.0,5.0,10.0,15.0,1.0,50.0,2019-11-04 04:00:00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145718,444,HCC ATC,East,NaN,NaN,NaN,NaN,NaN,NaN,173.0,2023-05-10 19:00:00,NaN,NaN,NaN,NaN
145719,444,HCC ATC,East,NaN,NaN,NaN,NaN,NaN,NaN,121.0,2023-05-10 20:00:00,NaN,NaN,NaN,NaN
145720,444,HCC ATC,East,NaN,NaN,NaN,NaN,NaN,NaN,90.0,2023-05-10 21:00:00,NaN,NaN,NaN,NaN
145721,444,HCC ATC,East,NaN,NaN,NaN,NaN,NaN,NaN,75.0,2023-05-10 22:00:00,NaN,NaN,NaN,NaN
145722,444,HCC ATC,East,NaN,NaN,NaN,NaN,NaN,NaN,38.0,2023-05-10 23:00:00,NaN,NaN,NaN,NaN

In [35]:
unfiltered_db["site - Source - direction"] = unfiltered_db["site"].astype(str) + " - " + unfiltered_db["Source"] + " - " + unfiltered_db["direction"]
sites_not_included["site - Source - direction"] = sites_not_included["site"].astype(str) + " - " + sites_not_included["Source"] + " - " + sites_not_included["direction"]
unfiltered_db_exc = pd.merge(unfiltered_db, sites_not_included[["site - Source - direction","FINAL Site ID", "FINAL Site ID - Direction", "Road", "District", "Town", "Road Name", "Road Type"]], on = "site - Source - direction", how = "inner")
display(unfiltered_db_exc)

C:\Users\UKHRM004\AppData\Local\Temp\ipykernel_23264\3057965335.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sites_not_included["site - Source - direction"] = sites_not_included["site"].astype(str) + " - " + sites_not_included["Source"] + " - " + sites_not_included["direction"]

,site,Source,direction,flow_car,flow_LGV,flow_OGV_1,flow_OGV_2,flow_HGV,flow_BUS,flow_total,...,flow_bicycle,flow_motorcycle,site - Source - direction,FINAL Site ID,FINAL Site ID - Direction,Road,District,Town,Road Name,Road Type
0,20190061,S + V,North West,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,20190061 - S + V - North West,472,472 - North West,U555,NaN,Stevenage,The White Way,U
1,20190061,S + V,North West,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,20190061 - S + V - North West,472,472 - North West,U555,NaN,Stevenage,The White Way,U
2,20190061,S + V,North West,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,20190061 - S + V - North West,472,472 - North West,U555,NaN,Stevenage,The White Way,U
3,20190061,S + V,North West,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,20190061 - S + V - North West,472,472 - North West,U555,NaN,Stevenage,The White Way,U
4,20190061,S + V,North West,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,20190061 - S + V - North West,472,472 - North West,U555,NaN,Stevenage,The White Way,U
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59211,789,HCC ATC,North,NaN,NaN,NaN,NaN,NaN,NaN,348.0,...,NaN,NaN,789 - HCC ATC - North,246,246 - North,B462,WATFORD,WATFORD,Aldenham Road,B
59212,789,HCC ATC,North,NaN,NaN,NaN,NaN,NaN,NaN,233.0,...,NaN,NaN,789 - HCC ATC - North,246,246 - North,B462,WATFORD,WATFORD,Aldenham Road,B
59213,789,HCC ATC,North,NaN,NaN,NaN,NaN,NaN,NaN,162.0,...,NaN,NaN,789 - HCC ATC - North,246,246 - North,B462,WATFORD,WATFORD,Aldenham Road,B
59214,789,HCC ATC,North,NaN,NaN,NaN,NaN,NaN,NaN,123.0,...,NaN,NaN,789 - HCC ATC - North,246,246 - North,B462,WATFORD,WATFORD,Aldenham Road,B
59215,789,HCC ATC,North,NaN,NaN,NaN,NaN,NaN,NaN,45.0,...,NaN,NaN,789 - HCC ATC - North,246,246 - North,B462,WATFORD,WATFORD,Aldenham Road,B

In [36]:
unfiltered_db_exc.to_csv(f"raw_data_excluded_from_final_sample.csv", index = False)

In [37]:
no_days = lambda x: x.count() / 24.
rsd = lambda x: x.std() / x.mean()
unfiltered_db_exc_sample_size = unfiltered_db_exc
unfiltered_db_exc_sample_size["Number of Days"] = unfiltered_db_exc_sample_size.groupby(["FINAL Site ID", "FINAL Site ID - Direction"])["flow_total"].transform(no_days) #, "Road", "District", "Town", "Road Name", "Road Type", "direction"
unfiltered_db_exc_sample_size["RSD"] = unfiltered_db_exc_sample_size.groupby(["FINAL Site ID", "FINAL Site ID - Direction"])["flow_total"].transform(rsd) #, "Road", "District", "Town", "Road Name", "Road Type", "direction"

In [38]:
display(unfiltered_db_exc_sample_size)
unfiltered_db_exc_sample_size.to_csv("TEST.csv")

,site,Source,direction,flow_car,flow_LGV,flow_OGV_1,flow_OGV_2,flow_HGV,flow_BUS,flow_total,...,site - Source - direction,FINAL Site ID,FINAL Site ID - Direction,Road,District,Town,Road Name,Road Type,Number of Days,RSD
0,20190061,S + V,North West,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,20190061 - S + V - North West,472,472 - North West,U555,NaN,Stevenage,The White Way,U,5.0,0.827813
1,20190061,S + V,North West,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,20190061 - S + V - North West,472,472 - North West,U555,NaN,Stevenage,The White Way,U,5.0,0.827813
2,20190061,S + V,North West,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,20190061 - S + V - North West,472,472 - North West,U555,NaN,Stevenage,The White Way,U,5.0,0.827813
3,20190061,S + V,North West,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,20190061 - S + V - North West,472,472 - North West,U555,NaN,Stevenage,The White Way,U,5.0,0.827813
4,20190061,S + V,North West,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,20190061 - S + V - North West,472,472 - North West,U555,NaN,Stevenage,The White Way,U,5.0,0.827813
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59211,789,HCC ATC,North,NaN,NaN,NaN,NaN,NaN,NaN,348.0,...,789 - HCC ATC - North,246,246 - North,B462,WATFORD,WATFORD,Aldenham Road,B,4.0,0.687283
59212,789,HCC ATC,North,NaN,NaN,NaN,NaN,NaN,NaN,233.0,...,789 - HCC ATC - North,246,246 - North,B462,WATFORD,WATFORD,Aldenham Road,B,4.0,0.687283
59213,789,HCC ATC,North,NaN,NaN,NaN,NaN,NaN,NaN,162.0,...,789 - HCC ATC - North,246,246 - North,B462,WATFORD,WATFORD,Aldenham Road,B,4.0,0.687283
59214,789,HCC ATC,North,NaN,NaN,NaN,NaN,NaN,NaN,123.0,...,789 - HCC ATC - North,246,246 - North,B462,WATFORD,WATFORD,Aldenham Road,B,4.0,0.687283
59215,789,HCC ATC,North,NaN,NaN,NaN,NaN,NaN,NaN,45.0,...,789 - HCC ATC - North,246,246 - North,B462,WATFORD,WATFORD,Aldenham Road,B,4.0,0.687283

In [39]:
excluded_sites_table = unfiltered_db_exc_sample_size[["site", "Source", "direction", "FINAL Site ID", "Road", "District", "Town", "Road Name", "Road Type", "Number of Days", "RSD"]].groupby(["site", "Source", "direction", "FINAL Site ID"]).mean() #, "Road", "District", "Town", "Road Name", "Road Type"
excluded_sites_table.reset_index(inplace = True)
display(excluded_sites_table)

,site,Source,direction,FINAL Site ID,Number of Days,RSD
0,4,Severnside ATC,Southbound,251,8.0,0.909241
1,35,Severnside ATC,Northbound,282,7.0,0.708259
2,35,Severnside ATC,Southbound,282,7.0,0.738347
3,41,Severnside ATC,Northbound,288,5.0,0.697881
4,41,Severnside ATC,Southbound,288,5.0,0.726393
...,...,...,...,...,...,...
535,21914111,S + V,South,690,2.0,2.231889
536,21914112,S + V,East,691,5.0,0.852997
537,21914112,S + V,West,691,5.0,1.398709
538,21915910,S + V,North,720,5.0,0.807795
539,21915910,S + V,South,720,5.0,0.890123

In [40]:
excluded_sites_table.to_csv("excluded_sites_table.csv")

In [41]:
combined_filtered_by_samplesize_2022 = pd.read_csv(f"C:\\Users\\UKHRM004\\Documents\\HCC Model Update\\For Github\\4 - Filtered_DBs\\3 - Filtered_Peak_Hour_DBs_by_SampleSize\\3b - combined dbs filtered by sample size\\2022\\ATC_2022_combined_sample_size_filtered_db.csv")

display(combined_filtered_by_samplesize_2022.loc[combined_filtered_by_samplesize_2022["site"] == 791])


combined_filtered_by_samplesize_2019 = pd.read_csv(f"C:\\Users\\UKHRM004\\Documents\\HCC Model Update\\For Github\\4 - Filtered_DBs\\3 - Filtered_Peak_Hour_DBs_by_SampleSize\\3b - combined dbs filtered by sample size\\2019\\ATC_2019_combined_sample_size_filtered_db.csv")

display(combined_filtered_by_samplesize_2019.loc[combined_filtered_by_samplesize_2019["site"] == 791])

combined_filtered_by_samplesize_2023 = pd.read_csv(f"C:\\Users\\UKHRM004\\Documents\\HCC Model Update\\For Github\\4 - Filtered_DBs\\3 - Filtered_Peak_Hour_DBs_by_SampleSize\\3b - combined dbs filtered by sample size\\2023\\ATC_2023_combined_sample_size_filtered_db.csv")

display(combined_filtered_by_samplesize_2023.loc[combined_filtered_by_samplesize_2023["site"] == 791])

Empty DataFrame
Columns: [Unnamed: 0, site, Source, direction, flow_car, flow_LGV, flow_OGV_1, flow_OGV_2, flow_HGV, flow_BUS, flow_total, date, year, time, month]
Index: []

Empty DataFrame
Columns: [Unnamed: 0, site, Source, direction, flow_car, flow_LGV, flow_OGV_1, flow_OGV_2, flow_HGV, flow_BUS, flow_total, date, flow_OGV1, flow_OGV2, year, time, month]
Index: []

Empty DataFrame
Columns: [Unnamed: 0, site, Source, direction, flow_car, flow_LGV, flow_OGV_1, flow_OGV_2, flow_HGV, flow_BUS, flow_total, flow_bicycle, flow_motorcycle, date, year, time, month]
Index: []